{% extends 'base.html' %}
{% load static %}
 
{% block content %}

 <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style> 

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-5 fw-bold lh-1 mb-3">Nombre de personnes et l'âge</h1>
        <p class="lead text-muted">Ce service offre des prédictions sur une image précis. 
          Il permet de trouver des visages sur la photo et d'en estimer l'âge en extraitant les traits du visage.</p>
      </div>
    </div>
  </section>
  
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 

        
          <section class="py-5 text-center container">
            <div class="card shadow-sm">
              <img src="{% static 'images/age.jpg' %}">                            
            </div>
          </section>
          
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <form method="POST">

            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <div class="form-control">
                    <label>{{field.label}} </label>
                    {{field}}</div>
            </div>
            {% endfor %}
            <div>
                <input class="btn btn-primary" type="submit" value="Valider">
            </div>
        </form>

    </div>
    </div> 



</main>  

{% endblock content %}